@model PortaleRegione.DTO.Response.BaseResponse<PortaleRegione.DTO.Domain.SeduteDto>

@{
    ViewBag.Title = "Riepilogo Sedute";
    if (Model.Filters.Any())
    {
        ViewBag.Title += " - Ricerca";
    }
}

<div class="row">
    <div class="col s12">
        <h5>
            <b>@ViewBag.Title</b>
        </h5>
    </div>
</div>

@{
    Html.RenderPartial("_PaginationBar", Model.Paging);
}

<div id="seduteTable" class="row">

    @if (!Model.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono sedute al momento
                    </span>
                </div>
            </div>
        </div>
    }

    @foreach (var seduta in Model.Results)
    {
        var css_sedutaAttiva = "green lighten-4";
        if (seduta.Data_effettiva_fine.HasValue)
        {
            if (seduta.Data_effettiva_fine.Value < DateTime.Now)
            {
                css_sedutaAttiva = string.Empty;
            }
        }

        <div class="col l4 m6 s12">
            <div class="card hoverable @css_sedutaAttiva">
                <div class="card-content" onclick="go('@Url.Action("RiepilogoAtti", "Atti", new {id = seduta.UIDSeduta})')">
                    <h5 class="card-title">
                        <span>Seduta del @seduta.Data_seduta.Value.ToString("dd/MM/yyyy HH:mm")</span>
                    </h5>
                    <p>
                        Scadenza presentazione: @Convert.ToDateTime(seduta.Scadenza_presentazione).ToString("dd/MM/yyyy HH:mm")
                    </p>
                </div>
            </div>
        </div>
    }
</div>

<div id="slide-out-DX" class="sidenav">
    <div class="row">
        <div class="col s12">
            <h6>
                <b>
                    <span>Ricerca</span>
                </b>
            </h6>
        </div>
    </div>
    @using (Html.BeginForm("Filtri_RiepilogoSedute", "Sedute", FormMethod.Post, new {id = "formFiltraSedute"}))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" name="page" value="@Model.Paging.Page"/>
        <input type="hidden" name="size" value="@Model.Paging.Limit"/>
        <div class="row">
            <div class="col s12">
                <div class="form-group">
                    <label>Legislatura</label>
                    <select id="filter_sedute_legislature" name="filtro_legislatura" class="form-control" onchange="filter_sedute_legislature_OnChange()"></select>
                </div>
            </div>
        </div>
    }
    <div class="fixed-action-btn" style="bottom: 150px !important; left: 23px; right: unset !important;">
        <a class="chip hoverable blue center white-text" onclick="filtra()" style="width: 255px;">
            <i class="icon material-icons">search</i> Filtra
        </a>
    </div>
</div>

<script>
    $(document).ready(function() {
        var filters = @Html.Raw(Convert.ToInt16(Model.Filters.Any()));
        if (filters == 0)
            set_Filtri_Sedute({});

        Filtri_CaricaLegislature("filter_sedute_legislature");
    });

    function filtra() {
        $('#formFiltraSedute').submit();
    }
</script>