@using PortaleRegione.DTO.Enum
<div id="slide-out-DX" class="sidenav">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">search</i>Ricerca</div>
            <div class="collapsible-body">
                @{
                    var mode = HttpUtility.ParseQueryString(Request.Url.Query).Get("mode");
                    var ordineFromCache = HttpContext.Current.Cache.Get("OrdinamentoEM");

                    var ordinePagina = HttpUtility.ParseQueryString(Request.Url.Query).Get("ordine");
                    OrdinamentoEnum ordinePaginaEnum;
                    if (!string.IsNullOrEmpty(ordinePagina))
                    {
                        ordinePaginaEnum = (OrdinamentoEnum) Convert.ToInt16(ordinePagina);
                    }
                    else if (ordineFromCache != null)
                    {
                        ordinePaginaEnum = (OrdinamentoEnum) ordineFromCache;
                    }
                    else
                    {
                        ordinePaginaEnum = OrdinamentoEnum.Presentazione;
                    }
                }

                @using (Html.BeginForm("Filtri_RiepilogoEM", "Emendamenti", FormMethod.Post, new {id = "formFiltraEM"}))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="page" value="@Model.Data.Paging.Page"/>
                    <input type="hidden" name="size" value="@Model.Data.Paging.Limit"/>
                    <input type="hidden" name="mode" value="@mode"/>
                    <input type="hidden" name="ordine" value="@((int)ordinePaginaEnum)"/>
                    <input type="hidden" name="atto" value="@Model.Atto.UIDAtto"/>
                    <div class="row" style="margin: 0 !important">
                        <div class="col s12">
                            <div class="form-group">
                                <label>Cerca nel testo</label>
                                <input type="text" id="filter_em_text1" name="filtro_text1" class="form-control" onchange="filter_em_text1_OnChange()"/>
                            </div>
                        </div>
                    </div>
                }
                <div class="row" style="margin: 0 !important">
                    <div class="col s12 center">
                        <a class="chip hoverable blue center white-text" onclick="filtra()">
                            <i class="icon material-icons">search</i> Filtra
                        </a>
                    </div>
                </div>

            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">import_export</i>Esporta</div>
            <div class="collapsible-body">
                <div class="container">
                    <div class="chip hoverable green lighten-1 center white-text" onclick="EsportaXLS('@Model.Atto.UIDAtto')" style="width: 100%">
                        <i class="icon material-icons">grid_on</i> EXCEL
                    </div>

                    <div class="chip hoverable blue lighten-1 center white-text" onclick="EsportaDOC('@Model.Atto.UIDAtto')" style="width: 100%">
                        <i class="icon material-icons">font_download</i> WORD
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>